[submodule "scripts/bash_utils"]
	path = scripts/bash_utils
	url = ../bash-utils.git
[submodule "dependencies/isaac_ros_common"]
	path = dependencies/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
