
ARG PLATFORM=arm64

FROM --platform=arm64 isaac-ros-base AS base-arm64
COPY ".devcontainer/build_dependencies/jetson_multimedia_api" "/usr/src/jetson_multimedia_api"
COPY ".devcontainer/build_dependencies/nvidia" "/usr/lib/aarch64-linux-gnu/tegra"

FROM --platform=amd64 isaac-ros-base AS base-amd64
FROM base-${PLATFORM} AS isaac-ros

# Use bash as shell.
SHELL ["/bin/bash", "-c"]

ARG PLATFORM=arm64
ENV PLATFORM=${PLATFORM}

ARG ROS_DOMAIN_ID
ENV ROS_DOMAIN_ID=${ROS_DOMAIN_ID}

ARG CONTAINER_WORKSPACE_DIRECTORY
ENV WORKSPACE_DIRECTORY=${CONTAINER_WORKSPACE_DIRECTORY}

ARG CONTAINER_REPOSITORY_MOUNT_POINT
ENV REPOSITORY_DIRECTORY=${CONTAINER_REPOSITORY_MOUNT_POINT}

USER root

#########################################################################################################
# Update and install required apt and pip dependencies.                                                 #
#########################################################################################################
RUN --mount=type=cache,id=apt_cache_devcontainer,target="/var/cache/apt" \
    apt update && apt install -y --no-install-recommends \
        net-tools \
        nano \
        iproute2 \
        iperf3 \
        bmon \
        usbutils \
        dotnet-sdk-6.0 && \
    apt -y autoremove && apt clean && rm -rf "/var/lib/apt/lists/*"

ENV RMW_IMPLEMENTATION=rmw_fastrtps_cpp

#########################################################################################################
# Apply patches.                                                                                        #
#########################################################################################################
WORKDIR "/"

RUN --mount=type=bind,source=".devcontainer/patches",target="/tmp/patches",ro \
    for PATCH in "/tmp/patches/${PLATFORM}/"*.patch; do \
        # Check if the patch file actually exists (glob might return the pattern if no files match).
        [ -f "${PATCH}" ] || continue; \
        patch -p1 --forward <"${PATCH}"; \
    done

#########################################################################################################
# Create a non-root user.                                                                               #
#########################################################################################################
ARG USERNAME=developer
ENV USERNAME=${USERNAME}
ARG USER_UID=1000
ARG USER_GID=${USER_UID}

RUN if [ ! $(getent group "${USER_GID}") ]; then \
        groupadd --gid "${USER_GID}" "${USERNAME}" &>"/dev/null"; \
    else \
        CONFLICTING_GROUPNAME=`getent group "${USER_GID}" | cut -d: -f1` && \
        groupmod -o --gid "${USER_GID}" -n "${USERNAME}" "${CONFLICTING_GROUPNAME}"; \
    fi; \
    \
    if [ ! $(getent passwd "${USER_UID}") ]; then \
        useradd --no-log-init --uid "${USER_UID}" --gid "${USER_GID}" -m "${USERNAME}" &>"/dev/null"; \
    else \
        CONFLICTING_USERNAME=`getent passwd "${USER_UID}" | cut -d: -f1` && \
        usermod -l "${USERNAME}" -u "${USER_UID}" -m -d "/home/${USERNAME}" "${CONFLICTING_USERNAME}" &>"/dev/null" && \
        mkdir -p "/home/${USERNAME}" && \
        # Wipe files that may create issues for users with large uid numbers.
        rm -f "/var/log/lastlog /var/log/faillog"; \
    fi; \
    \
    chown "${USERNAME}":"${USERNAME}" "/home/${USERNAME}" && \
    echo "${USERNAME}" ALL=\(root\) NOPASSWD:ALL >"/etc/sudoers.d/${USERNAME}" && \
    chmod 0440 "/etc/sudoers.d/${USERNAME}" && \
    usermod -aG video,plugdev,sudo "${USERNAME}";

# Set our working directory.
WORKDIR "${CONTAINER_WORKSPACE_DIRECTORY}"
# Activate the previously created user.
USER "${USERNAME}"
# Ensure we can read/write to the working directory.
RUN sudo chmod a+rwx "." && \
    # Fix for empty .bashrc and non-existing .profile when using amd64 base image.
    [[ ${PLATFORM} == "amd64" ]] && cat "/etc/skel/.bashrc" >>"/home/${USERNAME}/.bashrc" && cat "/etc/skel/.profile" >>"/home/${USERNAME}/.profile" || true

#########################################################################################################
# Setup Isaac ROS apt legacy repository.                                                                #
#########################################################################################################
RUN wget -qO - "https://isaac.download.nvidia.com/isaac-ros/repos.key" | sudo apt-key add - && \
    grep -qxF "deb https://isaac.download.nvidia.com/isaac-ros/release-3 $(lsb_release -cs) legacy-release-3.1" "/etc/apt/sources.list" || \
        echo "deb https://isaac.download.nvidia.com/isaac-ros/release-3 $(lsb_release -cs) legacy-release-3.1" | sudo tee -a "/etc/apt/sources.list"

#########################################################################################################
# Setup ROS2.                                                                                           #
#########################################################################################################
COPY --chown=${USERNAME}:${USERNAME} ".devcontainer/.vscode" "${CONTAINER_WORKSPACE_DIRECTORY}/.vscode"

# Install ffmpeg_image_transport.
RUN if [[ ${PLATFORM} == "arm64" ]]; then \
        mkdir -p "${HOME}/dependencies" && cd "${HOME}/dependencies" && \
        # Install ffmpeg.
        git clone "https://github.com/berndpfrommer/jetson-ffmpeg.git" && cd "jetson-ffmpeg" && \
        mkdir "build" && cd "build" && \
        cmake -DCMAKE_INSTALL_PREFIX:PATH="/usr/local" ".." && make -j$(nproc) && sudo make install && sudo ldconfig && \
        cd "../.." && \
        git clone -b release/7.1 --depth=1 "git://source.ffmpeg.org/ffmpeg.git" && cd "jetson-ffmpeg" && \
        "./ffpatch.sh" "../ffmpeg" && \
        cd "../ffmpeg" && \
        "./configure" --enable-nvmpi --enable-shared --disable-static --prefix="/usr/local" && \
        make -j$(nproc) && \
        sudo make install && \
        sudo ldconfig && \
        sudo rm -rf "${HOME}/dependencies" && \
        # Install ffmpeg_image_transport.
        mkdir -p "${HOME}/dependencies/ros_ws/src" && cd "${HOME}/dependencies/ros_ws/src" && \
        git clone --depth=1 "https://github.com/ros-misc-utilities/ffmpeg_image_transport.git" && \
        cd ".." && \
        vcs import <"src/ffmpeg_image_transport/ffmpeg_image_transport.repos" && \
        source "/opt/ros/${ROS_DISTRO}/setup.bash" && \
        rosdep update && sudo rosdep install -y --from-paths "." --ignore-src --rosdistro="${ROS_DISTRO}" && sudo rm -rf "${HOME}/.ros/rosdep/*" && \
        cd "src" && \
        \
        for package in "ffmpeg_encoder_decoder" "ffmpeg_image_transport_msgs" "ffmpeg_image_transport"; do \
            cd "${package}" && \
            # Generate debian files.
            bloom-generate rosdebian && \
            # Use all cores for building.
            sed -i 's/\bdh_auto_build\b/& -- -j$(nproc)/g' "debian/rules" && \
            # Ignore missing info for shlibdeps.
            sed -i 's/dh_shlibdeps -/dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -/g' "debian/rules" && \
            # Build the package.
            fakeroot "debian/rules" binary && \
            # Install the package.
            cd ".." && sudo apt install -y ./*.deb && rm ./*.deb; \
        done && \
        \
        rm -rf "${HOME}/dependencies"; \
    else \
        sudo apt update && sudo apt install -y --no-install-recommends \
            ros-${ROS_DISTRO}-ffmpeg-image-transport && \
        sudo apt install --reinstall \
            ffmpeg \
            libavcodec58 \
            libavformat58 \
            libavutil56 \
            libswscale5 \
            libswresample3 \
            libavfilter7 \
            libpostproc55 && \
        sudo apt -y autoremove && sudo apt clean && rm -rf "/var/lib/apt/lists/*"; \
    fi

# Install a backport of jazzy's compressed_depth_image_transport to make RVL compression available.
RUN mkdir -p "${HOME}/dependencies" && cd "${HOME}/dependencies" && \
    mkdir -p "${HOME}/dependencies/ros_ws/src" && cd "${HOME}/dependencies/ros_ws/src" && \
    git clone -b "humble-backport" --depth 1 "https://github.com/Tuntenfisch/image_transport_plugins_humble_backport.git" && \
    cd ".." && \
    source "/opt/ros/${ROS_DISTRO}/setup.bash" && \
    rosdep update && sudo rm -rf "${HOME}/.ros/rosdep/*" && \
    cd "src/image_transport_plugins_humble_backport" && \
    \
    for package in "compressed_depth_image_transport"; do \
        cd "${package}" && \
        # Generate debian files.
        bloom-generate rosdebian && \
        # Use all cores for building.
        sed -i 's/\bdh_auto_build\b/& -- -j$(nproc)/g' "debian/rules" && \
        # Build the package.
        fakeroot "debian/rules" binary && \
        # Install the package.
        cd ".." && sudo apt install -y ./*.deb && rm ./*.deb; \
    done && \
    \
    rm -rf "${HOME}/dependencies"

RUN --mount=type=cache,id=apt_cache_devcontainer,target="/var/cache/apt" \
    sudo apt update && sudo apt install -y --no-install-recommends \
        python3-colcon-mixin && \
    sudo apt -y autoremove && sudo apt clean && sudo rm -rf "/var/lib/apt/lists/*" && \
    \
    colcon mixin add default "https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml" && \
    colcon mixin update default && \
    mkdir -p "${HOME}/.colcon" && \
    echo "build: {mixin: [compile-commands]}" >>"${HOME}/.colcon/defaults.yaml" && \
    echo "[ -f ${CONTAINER_REPOSITORY_MOUNT_POINT}/colcon_ws/install/setup.bash ] && source ${CONTAINER_REPOSITORY_MOUNT_POINT}/colcon_ws/install/setup.bash" | sudo tee -a "/etc/bash.bashrc"

#########################################################################################################
# User dockerfile will be inserted below.                                                               #
#########################################################################################################
:DOCKERFILE_USER: