[Unit]
Description=Service to auto start software stack for sfg-${PROJECT_NAME} on system boot.
Requires=docker.socket
After=docker.socket
StartLimitBurst=5
StartLimitIntervalSec=120s

[Service]
User=${USERNAME}
WorkingDirectory=${WORKING_DIRECTORY}
ExecStartPre="/usr/bin/nm-online"
ExecStart="/usr/bin/docker" compose -f "compose.user.yaml" up --build --abort-on-container-failure
ExecStop="/usr/bin/docker" compose down
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
