version: v5.0

allowlist:
  - name: rt/global/*
  - name: rq/global/*
  - name: rr/global/*

blocklist:
  - name: rt/**/nitros

participants:
  - name: local
    kind: simple
    domain: ${ROS_DOMAIN_ID}

  - name: global
    kind: simple
    domain: 0

topic-routes:
  - name: rt/global/*
    type: "*"
    qos:
      reliability: RELIABLE
    routes:
      - src: local
        dst: [global]
      - src: global
        dst: [local]

  - name: rq/global/*
    type: "*"
    qos:
    reliability: RELIABLE
    routes:
      - src: local
        dst: [global]
      - src: global
        dst: [local]

  - name: rr/global/*
    type: "*"
    qos:
    reliability: RELIABLE
    routes:
      - src: local
        dst: [global]
      - src: global
        dst: [local]

specs:
  discovery-trigger: reader
  remove-unused-entities: true
