version: v5.0

allowlist:
  - name: rt/global/*
  - name: rq/global/*
  - name: rr/global/*

blocklist:
  - name: rt/**/nitros

participants:
  - name: local
    kind: simple
    domain: ${ROS_DOMAIN_ID}

  - name: global
    kind: simple
    domain: 0

# ToDo: we explicitly force all service traffic (names starting with "rq" or "rr" to have RELIABLE reliability).
# Ideally the actual service's QoS should dictate the QoS used by the router.
#
# Update: Issue has been opened (https://github.com/eProsima/DDS-Router/issues/503).
topic-routes:
  - name: rq/global/*
    type: "*"
    qos:
      reliability: RELIABLE
    routes:
      - src: local
        dst: [global]
      - src: global
        dst: [local]

  - name: rr/global/*
    type: "*"
    qos:
      reliability: RELIABLE
    routes:
      - src: local
        dst: [global]
      - src: global
        dst: [local]

# ToDo: Ideally we want to have 
#     discovery-trigger: any AND remove-unused-entities: true
# but this combination is not supported by the router as of now.
#
# Update: Issue has been opened (https://github.com/eProsima/DDS-Router/issues/498).
specs:
  discovery-trigger: reader
  remove-unused-entities: true
