[Unit]
Description=Service to auto start software stack for ${PROJECT_NAME} on system boot.
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=${WORKING_DIRECTORY}

# Wait for internet connection to be established.
ExecStartPre=/usr/bin/nm-online
# Wait for time to be synced.
ExecStartPre=/bin/bash -c "until timedatectl status | grep -q 'System clock synchronized: yes'; do sleep 1; done"
# Set PROJECT_NAME in the environment file to ensure proper container shutdown when switching between service and devcontainer.
ExecStartPre=/bin/bash -c "source '../.devcontainer/scripts/bash_utils/env_file_utils'; sfg_bash_utils__set_environment_variable '.env' 'PROJECT_NAME' '${PROJECT_NAME}'"
# Invoke initialize command.
ExecStartPre=/bin/bash -c "'../.devcontainer/scripts/initialize_command' LOCAL_WORKSPACE_DIRECTORY=\"$(realpath ..)\" CONTAINER_WORKSPACE_DIRECTORY=/workspace"

ExecStart=/bin/bash -c "'/usr/bin/docker' compose -f 'compose.user.yaml' up -d"
ExecStop=/bin/bash -c  "'/usr/bin/docker' compose -f 'compose.user.yaml' stop"
TimeoutStartSec=infinity

[Install]
WantedBy=default.target
